*.pro.user
*.user*
Makefile
WatchIt
helpwindow.o
main.o
mainwindow.o
moc_helpwindow.cpp
moc_helpwindow.o
moc_mainwindow.cpp
moc_mainwindow.o
moc_prefswindow.cpp
moc_prefswindow.o
prefswindow.o
qrc_styles.cpp
qrc_styles.o
qrc_web.cpp
qrc_web.o
serial.o
